@model List<BFStabilityEvaluation.Models.StabilitySignKriterium>
@{ ViewData["Title"] = "ПШР";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2>Первыйaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaafffff</h2>

<head>
    <meta charset="utf-8" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MYCSS.css" />


</head>